// FOOTER EN GENERAL
footer{
    height: 100%;
    background-color: #45484b;
    display: flex;
    font-size: 100%;
    font-style: oblique;
    text-align: center;
    div{
        width: 50%;
        margin-top: 20px;
        p{
            color: aliceblue;
            a{
                color: #FA3D00;
                text-decoration: none;
            }
        }
    }
    nav{
        width: 30%;
        margin-top: 20px;
        
    }
    section{
        color: aliceblue;
        list-style-type: none;
        display: flex;
        width: 50%;
        display: list-item;
        h5{
            font-size: 15px;
        }
        a{
            img{
                height: 40px;
                width: 40px;
            }
           
        }
    }
}
    // apartado de wsp
// FOOTER DE TIENDA HOMBRE Y MUJER
.footer__hombre{
    height: 20vh;
}
.footer-text a:hover{
    color: #FA3D00;
}
