// HEADER EN GENERAL
header{
    font-style: oblique;   
    div{
        div{
            justify-content: center;
            a{
                font-family: 'Comforter Brush', cursive;
                text-align: center;
                font-size: 100%;
                margin-left: 10%;
            }
        }
    }
}
// NAVEGADOR Y MENU
    // menu
#nav{
    margin-left: 25em !important;
    font-family: 'Comforter Brush', cursive;
    a{
        font-size: 30px;
        margin-left: 2em;         
    }
    li{
        ul{
            li{
                a{
                    margin-left: 0%;  
                }
                a:hover:active{
                    background-color: #4a362f;
                }
            }
        }
    }
}




   
  
    

